.header{
    background-color: #325343;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
    margin: 0;
    padding-right: 90px;
    color: #FFE4DD;
    padding-left: 30px;
     transition: all 0.3s ease-in-out;
    z-index: 1000;
    position:fixed;
    width: auto;
    right: 0;
    left: 0;
    /* box-shadow: 1px 1px 5px rgba(255,228,221,0.2); */
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);

}
.dark-logo-holder{
display: flex;
flex-direction: column;
align-items: center;
}
.logo-text {
    font-size: 14px;
    font-weight: bold;
    color: #C7E1C2; 
    margin-top: 2px;
    transition: color 0.3s ease-in-out;
  }
.dark-logo-holder > img{
    width: 60px;
    height: 60px;
}  

.header-elements{
    display: flex;
    gap: 30px;
}
.Login-button{
    width:70px ;
    height:25px ;
    background-color: #325343;
    border: 1px solid #FFE4DD;
    color: #FFE4DD;
    padding-bottom: 5px; 
    padding-top: 5px;
    text-align: center;
    transition: background-color 0.4s ease-in-out;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); /* X, Y, Blur, Shadow Color */
}
.Login-button:hover{
    background-color: #FFE4DD;
    border: 1px solid #325343;
    color: #325343;
}
.Signin-button{
    width:70px ; 
    height:26px ;
    background-color: #FFE4DD;
    border: 1px solid #325343;
    color: #325343;
    padding-top: 5px;
    padding-bottom: 5px; 
    text-align: center;
    transition: background-color 0.1s ease-in-out;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.Signin-button:hover{
    background-color: #325343;
    border: 1px solid #FFE4DD;
    color: #FFE4DD;
}
.header-element{
    padding: 5px 5px;
    cursor: pointer;
}
.header-element:hover{
    background-color: #1e392c;
}

  
 
  
  /* Scrolled Header Styles */
  .header.scrolled {
    background-color: #F8FFF6; 
    color: #325343; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: auto;
    right: 0;
    left: 0;
  }
  
  .header.scrolled .header-element {
    color: #325343;
  }
  .header.scrolled .header-element:hover {
    background-color: #C7E1C2;
  }
  
  .scrolled .logo-text {
    font-size: 14px;
    font-weight: bold;
    color: #325343; 
    margin-top: 2px;
  }
  
  .header.scrolled .sign-in {
    background: #244D3B;
    color: #F8FFF6;
  }
  
  .header.scrolled .logo img {
    opacity: 0.8;
  }
  